<h3>are you sure you want to delete {{equipo.name}}?</h3>

<button id="yes-button">yes</button>
<button>no</button>


<div id="div-boton">
  <a href="/">
    <button id='inicio'>Back</button>
  </a>
</div>
